* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.services-section_sy {
    text-align: center;
    background-color: #f5f6f8;
}
.services-section-header_sy {
    margin: 0px 101px;
    padding: 0px 12px 60px;
}
.services-section-title_sy {
    font-size: 32px;
    position: relative;
    padding-bottom: 20px;
    color: #37517e;
}
.services-section-title_sy::before, .services-section-title_sy::after {
    content: "";
    position: absolute;
    display: block;
}
.services-section-title_sy::before { /*가운데 회색 선*/
    width: 160px;
    height: 1px;
    background: #444444;
    opacity: 0.5;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1px;
}
.services-section-title_sy::after { /*가운데 하늘색 선*/
    width: 40px;
    height: 4px;
    background: #47b2e4;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
}

.services-section-description_sy {
    font-size: 16px;
    color: #444444;
    padding-top: 20px;
}
.services-grid_sy {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-content: center;
    align-items: start;
    box-sizing: border-box;
    margin: 0 auto; 
    padding-bottom: 60px;
    max-width: 1200px; 
    width: 90%;
}
.service-card_sy {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 5px 90px 0px rgba(0, 0, 0, 0.1);
    padding: 50px 30px;
    transition: all ease-in-out 0.4s;
    height: auto;
    width: 100%;
}
.service-card_sy:hover {
    transform: translateY(-10px);
}
.service-card_sy:hover .service-title_sy a {
    color: #47b2e4;
}
.icon_sy {
    margin-bottom: 15px;
    text-align: left;
}
.bi-calendar-week_sy, .bi-activity_sy, .bi-bounding-box-circles_sy, .bi-broadcast_sy {
    fill: #47b2e4;
    width: 30px;
    height: auto;
}
.service-title_sy {
    font-size: 18px;
    font-weight: 1200;
    color: #37517e;
    margin-bottom: 15px;
    text-align: left;
    cursor: pointer;
}
.service-title_sy a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;
    font-size: 20px;
}
.service-description_sy {
    font-size: 14px;
    color: #444444;
    transition: color 0.3s;
    text-align: left;
}

.call-to-action-section_sy {
    margin: 0;
    padding: 0;
    height: 350px;  
    background-size: contain; 
    background-position: 0px calc(100% - 50px);
    overflow: hidden;
    position: relative;
    
}
.call-to-action-section_sy::before {
    content: "";
    background: rgba(55, 81, 126, 0.35);
    position: absolute;
    inset: 0;
    z-index: 1;
}

.call-to-action-image_sy img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: 0; 
}

.call-to-action-container_sy {
    position: relative;
    z-index: 2; 
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
}

.call-to-action-content_sy {
    z-index: 3; 
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    padding: 20px;
    gap: 150px; 

}
.call-to-action-letter_sy {
    flex-direction: column;
}
.call-to-action-title_sy {
    color: white; 
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 8px;
    text-align: left;
    margin-left: 40px;
}

.call-to-action-description_sy {
    font-size: 16px;
    color: white; 
    margin-bottom: 1rem;
    text-align: left;
    margin-left: 40px;
}

.call-to-action-button_sy {
    display: inline-flex; 
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    padding: 12px 40px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    border: 2px solid #ffffff;
    border-radius: 50px;
    margin: 10px;
    margin-right: 40px;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.call-to-action-button_sy:hover {
    background-color: #47b2e4; /* 버튼 호버 색상 */
    border: 2px solid #47b2e4;
}
/* 1022px 이하 */
@media screen and (max-width: 1022px) {
    .services-grid_sy {
        grid-template-columns: repeat(3, 1fr); 
        gap: 20px;        
        width: 95%; 
        padding-bottom: 60px;
    }

    .service-card_sy {
        padding: 40px 20px; 
    }

    .service-title_sy {
        font-size: 16px; 
    }

    .service-description_sy {
        font-size: 12px; 
    }
}
/* 768px ~ 992px */
@media screen and (max-width: 1022px) and (min-width: 768px) {
    .services-grid_sy {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 0 40px;
        padding-bottom: 60px;
    }
    .service-card_sy {
        padding: 50px 40px;
        width: 100%;
        height: auto;
        
    }
    .service-title_sy {
        font-size: 16px;
        text-align: left;
    }
    .service-description_sy {
        font-size: 13px;
        text-align: left;
    }
    .call-to-action-content_sy {
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        text-align: center; 
        gap: 10px; 
    }
    .call-to-action-description_sy {
        padding: 0 80px;
        text-align: center; 

    }
    .call-to-action-title_sy, .call-to-action-button_sy  {
        text-align: center; 
    }
    .call-to-action-button_sy {
        margin-right: 10px;
    }
}
    
/* 768px 이하 */
@media screen and (max-width: 768px) {
    .services-grid_sy {
        grid-template-columns: repeat(1, 1fr); 
        gap: 20px;
        width: 100%; 
        justify-content: center;
        padding: 0 40px;
        padding-bottom: 60px;
    }
    .service-card_sy {
        padding: 50px 62px;
    }
    .service-title_sy {
        font-size: 14px;
        text-align: left; 
    }
    .service-description_sy {
        font-size: 12px;
        text-align: left; 
    }
    .icon_sy {
        text-align: left; 
    }
    .call-to-action-content_sy {
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        text-align: center; 
        gap: 10px; 
    }
    .call-to-action-description_sy {
        padding: 0 80px;
        text-align: center; 

    }
    .call-to-action-title_sy, .call-to-action-button_sy  {
        text-align: center; 
    }
    .call-to-action-button_sy {
        margin-right: 10px;
    }
}