* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.Team-section_sy {
    text-align: center;
}
.section-header_sy {
    margin: 0px 101px;
    padding: 0px 12px 60px;
}
.section-title_sy {
    font-size: 32px;
    position: relative;
    padding-bottom: 20px;
    color: #37517e;
}
.section-title_sy::before, .section-title_sy::after {
    content: "";
    position: absolute;
    display: block;
}
.section-title_sy::before {
    width: 160px;
    height: 1px;
    background: #444444;
    opacity: 0.5;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1px;
}
.section-title_sy::after {
    width: 40px;
    height: 4px;
    background: #47b2e4;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
}
.section-description_sy {
    font-size: 16px;
    color: #444444;
    padding-top: 20px;
}
.team-grid_sy {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 0 auto;
}
.team-card_sy {
    background-color: white;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    position: relative;
    border-radius: 5px;
    padding: 30px;
    height: 100%;
    width:546px;
    height: 221.5px;
    display: flex;
    flex-direction: row; 
    margin-top: 24px;
    margin-left: 12px;
    margin-right: 12px;
}
.profile-image_sy img {
    border-radius: 50%;
    justify-content: center;
    height: auto;
    width: 150px;
    height: 150px;
}
.profile-info_sy {
    padding-left: 30px;
}
.profile-name_sy {
    font-weight: 700;
    margin: 0px 0px 5px;
    font-size: 20px;
    color: #37517e;
}
.profile-job_sy {
    display: block;
    font-size: 15px;
    padding: 0 0 10px;
    position:relative;
    font-weight: 500;
    color: #444444;
    margin: 0;
}
.profile-job_sy p::after {
    border-bottom: 1px solid #ccc;
    
}
.profile-reflections_sy {
    margin: 10px 0 0 0;
    font-size: 14px;
    color: #444444;
}
